@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$theme-color: #673ab7;
$theme-color-darkened: #6136ac;
$accent-color: #ffd740;

body {
    margin: 0;
}

.rounded-corners {
    border-radius: 4px;
}

.main-button:hover {
    background-color: #6136ac;
}

.half-width {
    width: 50%;
}

.three-part-width {
    width: 75%;
}

.full-width {
    width: 100%;
}

mat-card {
    margin-top: 16px;
}

mat-list-item:hover {
    background-color: #f3f3f3;
}

mat-row:hover {
    background-color: #f3f3f3;
}