<mat-card>
    <div class="card-header">
      <mat-card-title>Sales Order</mat-card-title>
      <button mat-mini-fab (click)="delete()" matTooltip="Delete this sales order">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  <mat-card-subtitle>Order Id: {{ order.id }} </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field tabindex="1" (focusout)="onSalesOrderModified()">
      <input matInput [matDatepicker]="odPicker" [(ngModel)]="order.orderDate" placeholder="Order Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="odPicker"></mat-datepicker-toggle>
      <mat-datepicker #odPicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field tabindex="2" (focusout)="onSalesOrderModified()">
      <input matInput [matDatepicker]="sdPicker" [(ngModel)]="order.shipmentDate" placeholder="Shipment Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="sdPicker"></mat-datepicker-toggle>
      <mat-datepicker #sdPicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field tabindex="3">
      <mat-select placeholder="Customer" [(ngModel)]="order.customerId">
        <mat-option *ngFor="let customer of customers" [value]="customer.id" (focusout)="onSalesOrderModified()">
            {{ customer.id }} - {{ customer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        <mat-form-field tabindex="4">
          <mat-select placeholder="Ship-to Address" [(ngModel)]="order.addressId" (focusout)="onSalesOrderModified()">
            <mat-option *ngFor="let address of addresses" [value]="address.id">
                {{ address.id }} - {{ address.country }}, {{ address.city }}, {{ address.postCode }} 
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Profit</mat-label>
      <input matInput [(ngModel)]="order.profit">
    </mat-form-field>
    <button mat-button (click)="updateProfit()" color="primary">Update profit</button>
  </mat-card-content>
</mat-card>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Line
      </mat-panel-title>
      <mat-panel-description>
        Create new sales order line
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-form-field>
        <mat-select placeholder="Item" [(ngModel)]="newLineItemId">
            <mat-option *ngFor="let item of items" [value]="item.id">
                {{ item.id }} - {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="0" placeholder="Quantity" [(ngModel)]="newLineQuantity" required>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="insertNewLine()">Insert</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<table mat-table [dataSource]="linesData" class="mat-elevation-z1 full-width">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id.</mat-header-cell>
    <mat-cell *matCellDef="let line"> {{ line.id }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="itemId">
    <mat-header-cell *matHeaderCellDef>Item Id.</mat-header-cell>
    <mat-cell *matCellDef="let line"> {{ line.item.id }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="itemName">
    <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
    <mat-cell *matCellDef="let line"> {{ line.item.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let line"> {{ line.quantity }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
    <mat-cell *matCellDef="let line"> {{ line.amount }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let line"><button mat-button (click)="deleteLine(line.id)" color="warn">Remove</button></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: tableColumns"></mat-row>
</table>
